.search-form {
    width: 315px;
}

.repo-list {
    width: 500px;
    max-height: 600px;
    overflow-y: scroll;
}

h4 {
    text-align: center;
    width: 50%;
    margin: 2rem auto;
    text-transform: capitalize;
    text-decoration: underline;
}