.search-form {
    width: 315px;
}

.repo-list {
    width: 500px;
    max-height: 580px;
    overflow-y: scroll;
    border: 1px solid #E7E7E7;
}

.row {
    margin: 0px;
}

.followers-row {
    width: 45%;
}

.displayRepo-name {
    text-transform: capitalize;
    text-align: center;
    width: 50%;
    margin: 2rem auto;
}

h4 {
    text-align: center;
    width: 50%;
    margin: 2rem auto;
    text-transform: capitalize;
    text-decoration: underline;
}