body {
    overflow: hidden;
}

.search-form {
    width: 315px;
}

.list {
    width: 500px;
    max-height: 580px;
    overflow-y: scroll;
    border: 1px solid #E7E7E7;
}

.row {
    margin: 0px;
}

.followers-row {
    width: 45%;
}

.base-name {
    text-transform: capitalize;
    text-align: center;
    width: 70%;
    margin: 2rem auto;
}

h4 {
    text-align: center;
    width: 50%;
    margin: 2rem auto;
    text-transform: capitalize;
    text-decoration: underline;
}

.center-name {
    width: 500px;
    text-align: center;
}

.border {
    /* border: 1px solid black; */
    border-radius: 5px;
    -webkit-box-shadow:inset 0px 0px 0px 1px #E7E7E7;
    -moz-box-shadow:inset 0px 0px 0px 1px #E7E7E7;
    box-shadow:inset 0px 0px 0px 1px #E7E7E7;
}